<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">

<head>
	<title>Cadastro de título</title>
</head>

<section layout:fragment="content">
    <form class="form-horizontal" method="POST" action="#" th:action="@{/livro/novo}" th:object="${livro}">
    
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<div class="clearfix">
	   				<h1 style="float:left" class="panel-title aw-titulo-panel">Editar Livro</h1>
	   				<a style="float:right" class="btn btn-link aw-link-panel" href="/livro">Voltar para pesquisa</a>
	   			</div>
    		</div>
    		
    		<div class="panel-body">
    			<input type="hidden" th:field="*{id}"/>
    			<div class="form-group"> 
					<label for="nome" class="col-sm-2 control-label">Livro</label>
					<div class="col-sm-4"> 
						<input type="text" readonly="readonly" class="form-control" id="nome" th:field="*{nome}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="quantidade" class="col-sm-2 control-label">Quantidade</label>
					<div class="col-sm-2">  
						<input type="text" class="form-control"	id="quantidade" th:field="*{quantidade}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>
</section>
</html>