<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<!-- 	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/> -->


<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style type="text/css">
#boy {
	width: 20px;
	height: 20px;
}
</style>
</head>
<body>
	<header layout:include="header"></header>

	<section layout:fragment="content">
		<p>Conteúdo principal</p>
	</section>

	<script src="js/jquery.min.js"></script>
	<!-- 	<script src="js/bootstrap.min.js"></script> -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>